<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC
        "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

  <plugins>
    <plugin interceptor="com.yzm.interceptor.ExecutionTimeInterceptor">
      <!--这里会将key和value封装到public void setProperties(Properties properties)的Properties中，key为yzm，value为666-->
      <property name="yzm" value="ExecutionTimeInterceptor"/>
    </plugin>
    <plugin interceptor="com.yzm.interceptor.SQLModifierInterceptor">
      <!--这里会将key和value封装到public void setProperties(Properties properties)的Properties中，key为yzm，value为666-->
      <property name="yzm" value="SQLModifierInterceptor"/>
    </plugin>
  </plugins>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
<!--            mysql8.x的配置-->
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver" />
                <property name="url" value="jdbc:mysql://localhost:3306/test?characterEncoding=utf-8&amp;useSSL=false&amp;serverTimezone=UTC" />
                <property name="username" value="root" />
                <property name="password" value="123" />
            </dataSource>
<!--            低版本的配置，如mysql为5.x的版本-->
<!--            <dataSource type="POOLED">-->
<!--                <property name="driver" value="com.mysql.jdbc.Driver" />-->
<!--                <property name="url" value="jdbc:mysql://localhost:3306/test" />-->
<!--                <property name="username" value="root" />-->
<!--                <property name="password" value="123" />-->
<!--            </dataSource>-->
        </environment>
    </environments>


    <mappers>
<!--        <mapper resource="mapper/UserMapper.xml"></mapper>-->
      <package name="com.yzm.mapper"></package>
    </mappers>


</configuration>


