<?xml version="1.0" encoding="UTF-8" ?>
<!--<!DOCTYPE configuration PUBLIC-->
<!--        "-//mybatis.org//DTD Config 3.0//EN"-->
<!--        "http://mybatis.org/dtd/mybatis-3-config.dtd">-->
<configuration>
    <dataSource>
        <property name="driver" value="com.mysql.jdbc.Driver" />
        <property name="url" value="jdbc:mysql://localhost:3306/test" />
        <property name="username" value="root" />
        <property name="password" value="123" />
    </dataSource>
    <mappers>
        <mapper resource="com/yzm/pojo/User.xml"></mapper>
    </mappers>
<!--    <settings>-->
<!--        &lt;!&ndash; 设置驼峰标识 &ndash;&gt;-->
<!--        <setting name="mapUnderscoreToCamelCase" value="true"/>-->
<!--        &lt;!&ndash; 打印SQL语句 &ndash;&gt;-->
<!--        <setting name="logImpl" value="STDOUT_LOGGING"/>-->
<!--    </settings>-->
<!--    <plugins>-->
<!--        &lt;!&ndash; 分页插件 &ndash;&gt;-->
<!--        <plugin interceptor="com.github.pagehelper.PageInterceptor"/>-->
<!--    </plugins>-->
</configuration>