<mapper namespace="com.yzm.dao.UserDao">

    <select id="select" resultType = "com.yzm.pojo.User">
        select * from user where id = #{id} and username = #{userName};
    </select>

    <select id="selectAll" resultType = "com.yzm.pojo.User">
        select * from user where id = #{id} and username = #{userName};
    </select>

</mapper>